body, html {
    background-color: #FAFAFA;
    font-family: 'Roboto', sans-serif;
}

footer {
    text-align: center;
}

body {
    padding: 0 17%;
}

header h1 {
    text-align: center;
}

a .fa {
    color: black;
}
a:focus .fa-github, a:hover .fa-github {
    color: #26292E;
}
a:focus .fa-youtube, a:hover .fa-youtube {
    color: #E01716;
}

.subtitle{
    display: block;
    font-size: 20px;
    color: #274291;
}

.group {
    position: relative;
    margin-bottom: 30px;
}
.group:not(:first-of-type) {
    margin-top: 50px;
}

.card {
    background-color: white;
    padding: 25px;
    margin: 30px 0;
    box-shadow: 0 0 2px rgba(0, 0, 0, .2);
    border-radius: 3px;
}

.card h2 {
    margin-top: 5px;
    margin-bottom: 40px;
}

input, select {
    font-size: 18px;
    padding: 10px 10px 10px 5px;
    display: block;
    width: 100%;
    border: none;
    border-bottom: 1px solid #757575;
}
select {
    height: 40px;
    background-color: white;
}
input:focus { outline:none; }

label {
    color:#999;
    font-size:18px;
    font-weight:normal;
    position:absolute;
    pointer-events:none;
    left:5px;
    top:10px;
    transition:0.2s ease all;
    -moz-transition:0.2s ease all;
    -webkit-transition:0.2s ease all;
}

.bar 	{ position:relative; display:block; width: 100%; }
.bar:before, .bar:after 	{
    content:'';
    height:2px;
    width: 0;
    bottom:1px;
    position:absolute;
    background: #274291;
    transition:0.2s ease all;
    -moz-transition:0.2s ease all;
    -webkit-transition:0.2s ease all;
}
.bar:before {
    left: 15px;
}
.bar:after {
    right: 0;
}

input:focus ~ .bar:before, input:focus ~ .bar:after {
    width: 100%;
}

input:focus ~ label, input:valid ~ label, label.active {
    top:-20px;
    font-size:14px;
    color: #274291;
}

.example strong {
    color: #274291;
}

.error {
    color: #C7171D;
}

.highlight {
    position:absolute;
    height:60%;
    width:100px;
    top:25%;
    left:0;
    pointer-events:none;
    opacity:0.5;
}

input:focus ~ .highlight {
    -webkit-animation:inputHighlighter 0.3s ease;
    -moz-animation:inputHighlighter 0.3s ease;
    animation:inputHighlighter 0.3s ease;
}

.btn {
    position: relative;

    display: inline-block;
    margin: 30px auto;
    padding: 0;

    overflow: hidden;

    border-width: 0;
    outline: none;
    border-radius: 2px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, .4);

    background-color: #274291;
    color: #ecf0f1;

    transition: background-color .3s;
    cursor: pointer;

    text-transform: uppercase;
}
.btn.cancel {
    background-color: #C7171D;
}
.btn.cancel:hover, .btn.cancel:focus {
    background-color: #ea5056;
}

.btn:hover, .btn:focus {
    background-color: #2d4da9;
}

.btn > * {
    position: relative;
}

.btn span {
    display: block;
    padding: 12px 24px;
    font-size: 1.1em;
}

.btn:before {
    content: "";

    position: absolute;
    top: 50%;
    left: 50%;

    display: block;
    width: 0;
    padding-top: 0;

    border-radius: 100%;

    background-color: rgba(236, 240, 241, .3);

    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.btn:active:before {
    width: 120%;
    padding-top: 120%;

    transition: width .2s ease-out, padding-top .2s ease-out;
}

.step {
    display: none;
}
.step.s-1 {
    display: block;
}

#faq h1 {
    margin-top: 0;
}

#faq p {
    line-height: 25px;
}

#faq ul li {
    line-height: 25px;
}

.center {
    display: inline-block;
    width: 100%;
    text-align: center;
}

table {
    width: 100%;
    border-collapse: collapse;
    border-top: 1px solid #2d4da9;
}
table th {
    border-bottom: 1px solid #2d4da9;
}
table th {
    height: 50px;
    line-height: 50px;
}
table tr {
    height: 40px;
    line-height: 40px;
}
table tr td .btn {
    width: 80%;
    margin: 10px auto;
}
table tr:nth-child(even) {
    background-color: #f8fafd;
}

table tr td:first-child, table tr td:last-child {
    text-align: center;
}
table tr td:last-child span {
    font-weight: bold;
    font-size: 1.3em;
    color: #2d4da9;
}

#donation {
    margin-top: 10px;
}
#copyright {
    margin-top: 30px;
}

@-webkit-keyframes inputHighlighter {
    from { background:#5264AE; }
    to 	{ width:0; background:transparent; }
}
@-moz-keyframes inputHighlighter {
    from { background:#5264AE; }
    to 	{ width:0; background:transparent; }
}
@keyframes inputHighlighter {
    from { background:#5264AE; }
    to 	{ width:0; background:transparent; }
}
